<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 <script src="app.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller='heroesCtrl as vm'>
<input type='text' ng-model='search' placeholder="Search">
<button ng-click="vm.addHeroes()">Search</button>
<div ng-repeat="hereos in vm.heroes">
<p>{{$index + 1}}. {{heroes.name}}</p>
</div>
</body>
</html>
